ion-card{
    height:auto;
    width:98%;
    position: absolute;
    margin-top:15%;
    margin-left: 1%;
    margin-right: 1%!important;
    --background:none;
  
  
  }
  ion-item{
    --background:none;
  }
  .facebook{
    --background: #3b5998
  }

  ion-col{
    text-align: center;
  }
  .invalid-message {
    color: red !important;
  }
