ion-content{
    --ion-background-color:#121212;
}
ion-item,ion-icon{
    color:white;
}
ion-avatar {
    width: 150px;
    height:150px;
    margin-top: 5%;
    margin-left: -4%;
}
h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

}
.name {
  text-align: center;
}