ion-grid,ion-col{
    padding: 0px;
}
ion-content {
    --ion-background-color:linear-gradient(to bottom right,white 70%, #f10404);
}
ion-icon{
    color:white;
}
.image{
    z-index: auto;
    position: absolute;
    top: 0;
}
